@charset "utf-8";

*{margin: 0; padding: 0;}
ul,li{list-style: none;}
a{text-decoration: none; color: #000;} 

.img_wrap{display: flex; justify-content: space-between;}
.img_wrap li{width: 100%; margin-left: 20px;}
.img_wrap li img{width: 100%;}
.img_bg{position: relative;}
.img_bg dl{position: absolute; top: 40%; left: 50%; transform: translateX(-50%); color: #fff; text-align: center;}
.img_wrap li dt{font-size: 30px;margin-bottom: 1.5625vw; font-weight: 600; text-shadow: 1px 1px 3px #000;}
.img_wrap li dd a{font-size: 27px;margin-bottom: 1.5625vw; color: #fff; font-weight: 600; text-shadow: 1px 1px 2px #000;}
.img_wrap li:hover dl dd a{color:  orange;}
.img_wrap li:hover dl dt {color: #fff; text-shadow: 1px 1px 2px #000;}

.img_wrap2{margin-top: 50px; display: flex; justify-content: center;}
.img_wrap2 li img{width: 100%;}
.img_wrap2 li{width: 25%; margin-left: 20px; position: relative;}
.img_wrap2 dl{position: absolute; left: 50%; transform: translateX(-50%); top:40%;color: #fff; text-align: center;}
.img_wrap2 li dt{font-size: 30px;margin-bottom: 1.5625vw; font-weight: 600; text-shadow: 1px 1px 3px #000;}
.img_wrap2 li dd a{font-size: 27px;margin-bottom: 1.5625vw; color: #fff; font-weight: 600; text-shadow: 1px 1px 2px #000;}
.img_wrap2 li:hover dl dd a{color:  orange;}
.img_wrap2 li:hover dl dt {color: #000; text-shadow: 1px 1px 2px #000;}
@media all and (max-width:1200px) and (min-width:769px){
    .img_bg dl dt{font-size: 20px;}
    .img_bg dl dd a{font-size: 20px;}
}

@media all and (max-width: 768px){
    .img_wrap{flex-wrap: wrap;flex-direction: row-reverse;}
    .img_wrap li{width: 100%; margin-top: 20px;}
    .img_wrap2{flex-wrap: wrap; flex-direction: row-reverse;}
    .img_wrap2 li{width: 100%;}
}/* end */