@charset "utf-8";

#header{width: 100%; text-align: center;font-size: 70px; font-weight: 600; padding: 50px 0; text-transform:capitalize;}
.object_bg{background: #000;padding: 100px 0;}
.object_wrap{width: 1600px; height: 600px; display: flex; justify-content: space-between; margin: 0 auto; background:transparent;}
.object_wrap li{cursor: pointer;}
.object_wrap li{margin-left: 20px;background: #777;width: calc(100%/4); position: relative;}
.object_wrap .bg1{background: url(../img/li1.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg1:hover{background: url(../img/li1-1.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg2{background: url(../img/li2_bg1-1.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg2:hover{background: url(../img/li2_bg.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg3{background: url(../img/li3gray.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg3:hover{background: url(../img/li3.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg4{background: url(../img/li4.jpg) no-repeat center center; background-size: cover;}
.object_wrap .bg4:hover{background: url(../img/li4-1.jpg) no-repeat center center; background-size: cover;}
.object_wrap li .color{position: absolute; top: 0; left: 0;}
.object_wrap li dl{position: absolute; top: 30%; left: 50%;transform: translateX(-50%); text-align: center;width: 100%;}
.object_wrap li dl dt{color: #fff; font-size: 40px; font-weight: 600; text-shadow: 1px 1px 5px #000;}
.object_wrap .bg3 dl dt{color: #fff; font-weight: 600; text-shadow: 1px 1px 5px #000;}
.object_wrap li dl dd {padding: 50px 0;}
.object_wrap li dl dd a{color: orange; font-size: 27px; font-weight: 600; text-shadow:  1px 3px 15px #fff;}
.object_wrap li:first-child{margin-left: 0;}
.object_wrap li img{width: 100%;}
.object_wrap1{width: 1600px; height: 600px; display: flex; justify-content: space-between; margin: 0 auto; background:transparent; margin-top: 20px;}
.object_wrap1 li{margin-left: 20px;background: #777;width: calc(100%/4); position: relative;}
.object_wrap1 li:first-child{margin-left: 0;}
.object_wrap1 li img{width: 100%;}